<div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutGap.gt-md="30px" class="welcome">
  <section>
    <h1>
      Exciting
    </h1>
    <p>
      Thousands of different exercises to choose from
    </p>
  </section>
  <section>
    <h1>
      Challenging
    </h1>
    <p>
      With daily exercise form easy to hard
    </p>
  </section>
  <section>
    <h1>
      Fun
    </h1>
    <p>
      Never get bored with our special algorithms for training
    </p>
  </section>
</div>