<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<section fxLayout="row wrap" fxLayoutAlign="center center">



  <mat-card fxFlex="800px" fxFlex.xs="100%">
    <!-- <div class="mat-elevation-z8"> -->
    <mat-table [dataSource]="dataSource" matSort>


      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button color="primary" mat-button (click)="onEdit(row)">Edit</button>
          <button color="primary" mat-button (click)="onDelete(row)">Delete</button>
          <button color="primary" mat-button (click)="onStart(row)">Start</button>
          <button color="primary" mat-button (click)="onEnd(row)">End</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <!-- </div> -->
  </mat-card>
</section>