<mat-tab-group #tabGroup>
  <mat-tab label="View All">
    <ng-template matTabContent>
      <app-history></app-history>
    </ng-template>
  </mat-tab>
  <mat-tab label="Create">
    <ng-template matTabContent>
      <app-new-workout></app-new-workout>
    </ng-template>
  </mat-tab>
  <mat-tab label="Category">
    <ng-template matTabContent>
      <app-category></app-category>
    </ng-template>
  </mat-tab>
  <mat-tab label="Track">
    <ng-template matTabContent>
      <app-history></app-history>
    </ng-template>
  </mat-tab>
</mat-tab-group>
